{% extends 'base.html' %}

{% block head %}
<title>
GamerMate
</title>
{% endblock %}

{% block body %}
<form action="/adventure/{{ prev_page }}" method="POST">

<div class = "story">
<h> Next: </h>
    {% for line in story_line %}
    <p>{{ line }}</p>
    {% endfor %}
</div>

<div class = "user_action">
{% if options|length > 0 %}
<h>What will you choose, {{name}}</h><br/>
    {% for i in range(options|length) %}
        <button name = "choice" type="submit" value="{{ i }}">{{ options[i][0] }}</button>
    {% endfor %}
{%  else %}
    <a href="{{ url_for('showresult') }}">Show result</a>"
{% endif %}
</div>
</form>

{% endblock %}